[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.26.0"
face-recognition = "*"
uplink = "*"
pydantic = "*"
python-dotenv = "*"
flask = "*"
imutils = "*"
werkzeug = "*"
opencv-python = "*" #"==4.5.2.54"
joblib = "*"
tqdm = "*"
scikit-learn = "*"
paho-mqtt = "*"

[dev-packages]

[requires]
python_version = "3.10"
